__pycache__/
*.py[codz]
*$py.class

.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.so
*.manifest
*.spec

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.hypothesis/
.pytest_cache/
cover/

.ipynb_checkpoints/
.mypy_cache/
.ruff_cache/
.pyre/
.pytype/

.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db
